:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  --color-primary-1: red;

  --color-secondary-2: gray;
  --color-secondary-4: lightgray;

  --color-white-1: white;
}

* {
  margin: 0;
}
