@font-face {
  font-family: 'Poppins-Black';
  src: local('Poppins-Black'), url(./fonts/Poppins/Poppins-Black.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins-Bold';
  src: local('Poppins-Bold'), url(./fonts/Poppins/Poppins-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'), url(./fonts/Montserrat/Montserrat-VariableFont_wght.ttf) format('truetype');
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  --color-primary-1: #260e0e;
  --color-primary-4: #b24e4e8f;

  --color-secondary-1: #5e5c5c;
  --color-secondary-2: gray;
  --color-secondary-4: lightgray;

  --color-white-1: white;

  --input-border: #8b8a8b;
  --input-focus-h: 245;
  --input-focus-s: 100%;
  --input-focus-l: 42%;

  font-family: 'Montserrat';
  font-size: larger;
  color: var(--color-secondary-1);
}

* {
  box-sizing: border-box;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Poppins-Bold';
}

body {
  margin: 0;
}

.input {
  font-size: max(16px, 1em);
  font-family: inherit;
  padding: 0.25em 0.5em;
  background-color: #fff;
  border: 2px solid var(--input-border);
  border-radius: 4px;
}
.input:focus {
  border-color: hsl(var(--input-focus-h), var(--input-focus-s), var(--input-focus-l));
  box-shadow: 0 0 0 3px hsla(var(--input-focus-h), var(--input-focus-s), calc(var(--input-focus-l) + 40%), 0.8);
  transition: 180ms box-shadow ease-in-out;
}
